# Dependencies
node_modules/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.idea/*

# Where secrets are stored
.env.local
/.env.local

# Temp commit message
commit_message.txt

# test reports
test-output.json

# module federation hidden folder
.__mf__temp

# Vitest coverage
coverage
